## Explatory Data Analysis

#### Birthweight data

Variables in the data are as follows:


|     Name                 |     Variable                                           |     Data type    |
|--------------------------|--------------------------------------------------------|------------------|
|     ID                   |     Baby number                                        |                  |
|      length              |     Length of baby (cm)                                |     Scale        |
|      Birthweight         |     Weight of baby (kg)                                |     Scale        |
|      headcirumference    |     Head Circumference                                 |     Scale        |
|      Gestation           |     Gestation (weeks)                                  |     Scale        |
|      smoker              |     Mother smokes 1 = smoker 0 =   non-smoker          |      Binary      |
|      motherage           |     Maternal age                                       |     Scale        |
|      mnocig              |     Number of cigarettes smoked per day   by mother    |     Scale        |
|      mheight             |     Mothers height (cm)                                |      Scale       |
|      mppwt               |     Mothers pre-pregnancy weight (kg)                  |      Scale       |
|      fage                |     Father's age                                       |      Scale       |
|     fedyrs               |     Fatherâ€™s years in education                        |     Scale        |
|      fnocig              |     Number of cigarettes smoked per day   by father    |     Scale        |
|      fheight             |     Father's height (cm)                               |      Scale       |
|      lowbwt              |     Low birth weight, 0 = No and 1 = yes               |      Binary      |
|     mage35               |     Mother over 35, 0 = No and 1 = yes                 |     Binary       |

 
Birthweight is the dependent variable. Lets first investigate this variable.

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv('../data/Birthweight_reduced_kg_R.csv')
# df.info()

df.head()

,ID,Length,Birthweight,Headcirc,Gestation,smoker,mage,mnocig,mheight,mppwt,fage,fedyrs,fnocig,fheight,lowbwt,mage35
0,1360,56,4.55,34,44,0,20,0,162,57,23,10,35,179,0,0
1,1016,53,4.32,36,40,0,19,0,171,62,19,12,0,183,0,0
2,462,58,4.10,39,41,0,35,0,172,58,31,16,25,185,0,1
3,1187,53,4.07,38,44,0,20,0,174,68,26,14,25,189,0,0
4,553,54,3.94,37,42,0,24,0,175,66,30,12,0,184,0,0

Lets checkout mean maternal age.

In [6]:
mu = df['mage'].mean()
med = df.mage.median()

print(f"Mean maternal age: {mu:.3f}    Median maternal age: {med}")

Mean maternal age: 25.548    Median maternal age: 24.0

In [15]:
print('Mean')
# Show mean of 3 columns
print(df[ ['mage', 'Gestation', 'mheight'] ].mean())

print('\n\nMedian')
# Show median of all columns
print(df.median())

Mean
mage          25.547619
Gestation     39.190476
mheight      164.452381
dtype: float64


Median
ID             821.000
Length          52.000
Birthweight      3.295
Headcirc        34.000
Gestation       39.500
smoker           1.000
mage            24.000
mnocig           4.500
mheight        164.500
mppwt           57.000
fage            29.500
fedyrs          14.000
fnocig          18.500
fheight        180.500
lowbwt           0.000
mage35           0.000
dtype: float64

Lets check out mean values for multiple columns

- length in cm
- birthweight in kg

In [6]:
df[['Length','Birthweight']].mean()

Length         51.333333
Birthweight     3.312857
dtype: float64

Lets check out standard deviation of multiple columns

- length in cm
- birthweight in kg

In [21]:
# Variance
df[['Length','Birthweight']].var()

# Standard deviation
df[['Length','Birthweight']].std()

Length         2.935624
Birthweight    0.603895
dtype: float64

Lets check out skewness of multiple columns

- length in cm
- birthweight in kg

In [9]:
df[['Length','Birthweight']].skew()

Length        -0.247898
Birthweight   -0.055529
dtype: float64

Lets check out excess kurtosis (normal dist=0) of multiple columns

- length in cm
- birthweight in kg

In [24]:
df[['Length','Birthweight']].kurtosis()

#plt.hist(df['Birthweight'], bins=10,density=True);

Length         1.062173
Birthweight    0.038160
dtype: float64

Lets check all stats simultaneously

In [27]:
df.describe()

,ID,Length,Birthweight,Headcirc,Gestation,smoker,mage,mnocig,mheight,mppwt,fage,fedyrs,fnocig,fheight,lowbwt,mage35
count,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000
mean,894.071429,51.333333,3.312857,34.595238,39.190476,0.523810,25.547619,9.428571,164.452381,57.500000,28.904762,13.666667,17.190476,180.500000,0.142857,0.095238
std,467.616186,2.935624,0.603895,2.399792,2.643336,0.505487,5.666342,12.511737,6.504041,7.198408,6.863866,2.160247,17.308165,6.978189,0.354169,0.297102
min,27.000000,43.000000,1.920000,30.000000,33.000000,0.000000,18.000000,0.000000,149.000000,45.000000,19.000000,10.000000,0.000000,169.000000,0.000000,0.000000
25%,537.250000,50.000000,2.940000,33.000000,38.000000,0.000000,20.250000,0.000000,161.000000,52.250000,23.000000,12.000000,0.000000,175.250000,0.000000,0.000000
50%,821.000000,52.000000,3.295000,34.000000,39.500000,1.000000,24.000000,4.500000,164.500000,57.000000,29.500000,14.000000,18.500000,180.500000,0.000000,0.000000
75%,1269.500000,53.000000,3.647500,36.000000,41.000000,1.000000,29.000000,15.750000,169.500000,62.000000,32.000000,16.000000,25.000000,184.750000,0.000000,0.000000
max,1764.000000,58.000000,4.570000,39.000000,45.000000,1.000000,41.000000,50.000000,181.000000,78.000000,46.000000,16.000000,50.000000,200.000000,1.000000,1.000000

Lets check the correlation between birth length and weight

In [26]:
df[['Length','Birthweight']].corr()

               Length  Birthweight
Length       1.000000     0.726833
Birthweight  0.726833     1.000000

In [27]:
df[['Length','Birthweight','Headcirc']].corr()

               Length  Birthweight  Headcirc
Length       1.000000     0.726833  0.563172
Birthweight  0.726833     1.000000  0.684616
Headcirc     0.563172     0.684616  1.000000

In [28]:
df[['Length','Birthweight','Headcirc','mage']].corr()

               Length  Birthweight  Headcirc      mage
Length       1.000000     0.726833  0.563172  0.075268
Birthweight  0.726833     1.000000  0.684616  0.000173
Headcirc     0.563172     0.684616  1.000000  0.145842
mage         0.075268     0.000173  0.145842  1.000000

Lets check out the  mean birtweight of babies whose mothers smoked/non-smoked during pregnancy.

In [36]:
# Mean birthweight of babies whose mother smoked
mean_smoked = df['Birthweight'][df.smoker == 1].mean()

# Mean birthweight of babies whose mother not smoked
mean_notsmoked = df.Birthweight[df['smoker'] == 0].mean()

print(f"Mean birtweight of smoking mothers: {mean_smoked:.3f}, non-smoking mothers: {mean_notsmoked:.3f}")

Mean birtweight of smoking mothers: 3.134, non-smoking mothers: 3.510